In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
patient_df = pd.read_csv('training_v2.csv')
patient_df.head()

In [13]:
patient_df.shape

(91713, 186)

In [15]:
patient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91713 entries, 0 to 91712
Columns: 186 entries, encounter_id to apache_2_bodysystem
dtypes: float64(170), int64(8), object(8)
memory usage: 130.1+ MB

In [46]:
def num_cat_col(df):
    '''
    Splits the columns of the dataframe into categorical and numerical columns 
    and returns them as 2 separate lists.
    Columns with IDs in them are added to the list of categorical columns.
    '''
    num_col = []
    cat_col = []
    for column in df.columns:
        if df[column].dtypes == 'object' or '_id' in column:
            cat_col.append(column)
        else:
            num_col.append(column)
    return cat_col, num_col

cat_col, num_col = num_cat_col(patient_df)

In [47]:
patient_df[cat_col].head()

,encounter_id,patient_id,hospital_id,ethnicity,gender,hospital_admit_source,icu_admit_source,icu_id,icu_stay_type,icu_type,apache_3j_bodysystem,apache_2_bodysystem
0,66154,25312,118,Caucasian,M,Floor,Floor,92,admit,CTICU,Sepsis,Cardiovascular
1,114252,59342,81,Caucasian,F,Floor,Floor,90,admit,Med-Surg ICU,Respiratory,Respiratory
2,119783,50777,118,Caucasian,F,Emergency Department,Accident & Emergency,93,admit,Med-Surg ICU,Metabolic,Metabolic
3,79267,46918,118,Caucasian,F,Operating Room,Operating Room / Recovery,92,admit,CTICU,Cardiovascular,Cardiovascular
4,92056,34377,33,Caucasian,M,NaN,Accident & Emergency,91,admit,Med-Surg ICU,Trauma,Trauma

In [ ]:
patient_df[cat_col].describe()

In [ ]:
patient_df[num_col].head()

In [50]:
patient_df[num_col].shape

(91713, 174)